.container {
  padding: 0 20rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.bodyList{
  margin: auto;
  padding: 2rem;
  margin-top: 2rem;
  border: 0.5px solid #dfe6e9;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;  
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

.modalBody{
  border-left:0.5px solid #dfe6e9;
  padding-left: 1rem;
}

